{% extends '::base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li><a href="{{ url('app_contact_view') }}">Contact</a></li>
    <li>Sent</li>
{% endblock %}

{% block body %}

    <div class="container container-sr">

        {% include 'AppBundle:fragment:action-status-icon.html.twig' with {
            'icon' : 'fa-envelope',
            'text' : 'Your message has been sent.'
        } only %}

    </div>

{% endblock %}
