{% extends '::base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li>Products</li>
{% endblock %}

{% block title %}Products - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container container-sr">

        <h2 class="primary-hr-i">
            {{ ion('pricetags') }} Product <em>Categories</em>
        </h2>

        <div class="card-listing">
            {% for c in categories %}
                {% include 'AppBundle:fragment:category-list-item.html.twig' with { 'category': c } only %}
            {% endfor %}
        </div>

    </div>
{% endblock %}
