{% extends "AppBundle::layout.html.twig" %}

{% block title "Symfony - Notes" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">{{ 'note.new.headline'|trans({}, 'AppBundle') }}</h1>

    {%  if (form is defined) %}
        {{ form_start(form, { action: url('post_notes') }) }}
            {{ form_widget(form) }}
            <input type="submit" value="{% trans from 'AppBundle' %}note.new.submit{% endtrans %}">
        {{ form_end(form) }}
    {% endif %}

{% endblock %}

{% set code = code(_self) %}
