
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* import custom global-partials */

@import 'ion-icons_variables';

@mixin ionicons-font {
  font-family: Ionicons;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  @include ionicons-font();
  src:url('#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}');
  src:url('#{$ionicons-font-path}/ionicons.eot?v=#{$ionicons-version}#iefix') format('embedded-opentype'),
    url('#{$ionicons-font-path}/ionicons.woff2?v=#{$ionicons-version}') format('woff2'),
    url('#{$ionicons-font-path}/ionicons.woff?v=#{$ionicons-version}') format('woff'),
    url('#{$ionicons-font-path}/ionicons.ttf?v=#{$ionicons-version}') format('truetype'),
    url('#{$ionicons-font-path}/ionicons.svg?v=#{$ionicons-version}#Ionicons') format('svg');
}

.ion {
  @include ionicons-font();
  speak: none;
  display: inline-block;
  line-height: 1;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import 'ionicons/dist/scss/ionicons-common.scss';
@import 'ionicons/dist/scss/ionicons-icons.scss';

/* EOF */
