
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* COLOR DEFINITIONS */

/* first let's define 'all colors' and the 'absence of all colors' */

$color-white : rgba(255, 255, 255, 1.00);
$color-black : rgba(000, 000, 000, 1.00);

/* no color (transparent) */

$color-transparent : transparent;

/* gray variants */

$color-gray-darker        : lighten(rgba($color-black , 1.00), 14%);
$color-gray-dark          : rgba(033, 033, 033, 1.00);
$color-gray-darkish       : rgba(051, 051, 051, 1.00);
$color-gray-darkish-alt-1 : rgba(068, 068, 068, 1.00);
$color-gray-darkish-alt-2 : rgba(080, 080, 068, 1.00);
$color-gray               : rgba(102, 102, 102, 1.00);
$color-gray-light-d       : rgba(153, 153, 153, 1.00);
$color-gray-light         : rgba(187, 187, 187, 1.00);
$color-gray-light-m1      : rgba(204, 204, 204, 1.00);
$color-gray-light-m       : rgba(225, 225, 225, 1.00);
$color-gray-lighter       : rgba(242, 241, 243, 0.50);
$color-gray-bg            : rgba(234, 234, 241, 1.00);
$color-gray-bg-alt        : rgba(243, 243, 247, 1.00);
$color-gray-bg-alt-2      : rgba(245, 245, 245, 1.00);
$color-gray-bg-alt-3      : rgba(249, 249, 249, 1.00);

/* blue variants */

$color-blue-darkest : rgba(029, 042, 046, 1.00);
$color-blue-dark    : rgba(097, 119, 138, 1.00);
$color-blue-light   : rgba(130, 156, 175, 0.51);

/* red variants */

$color-red-bright : rgba(199, 037, 078, 1.00);
$color-red-gray   : rgba(249, 242, 244, 1.00);

/* separators */

$color-separator : rgba(240, 240, 242, 1.00);

/* brand/accent colors */

$color-accent        : rgba(216, 008, 116, 1.00);
$color-accent-alt    : rgba(217, 000, 113, 1.00);
$color-primary       : rgba(033, 150, 243, 1.00);
$color-primary-dark  : rgba(012, 124, 213, 1.00);
$color-primary-light : rgba(059, 160, 240, 1.00);

/* status colors (states) */

$color-okay : rgba(076, 175, 080, 1.00);
$color-info : rgba(156, 039, 176, 1.00);
$color-warn : rgba(255, 152, 000, 1.00);
$color-crit : rgba(229, 028, 035, 1.00);

$bg-color-okay : rgba(223, 240, 216, 1.00);
$bg-color-info : rgba(225, 190, 231, 1.00);
$bg-color-warn : rgba(255, 224, 178, 1.00);
$bg-color-crit : rgba(249, 189, 187, 1.00);

$border-color-okay : darken(adjust-hue($bg-color-okay, -10), 5%);
$border-color-info : darken(adjust-hue($bg-color-info, -10), 7%);
$border-color-warn : darken(adjust-hue($bg-color-warn, -10), 5%);
$border-color-crit : darken(adjust-hue($bg-color-crit, -10), 5%);

$text-color-okay : $color-okay;
$text-color-info : $color-info;
$text-color-warn : $color-warn;
$text-color-crit : $color-crit;

/* background colors */

$bg-color-page-body-normal : $color-gray-lighter;
$bg-color-page-body-accent : $color-white;

/* component colors */

$component-active-color : $color-white;
$component-active-bg    : $color-primary;
$component-border-color : rgba(239, 239, 239, 1);

/* CARDS */

$bg-color-card-overlay-blur         : rgba($color-white, 0.25);
$bg-color-card-overlay-focus        : rgba($color-white, 0.95);
$bg-color-card-overlay-accent-blur  : rgba($color-accent, 0.25);
$bg-color-card-overlay-accent-focus : rgba($color-accent, 0.95);

/* BORDERS */

$border-size-card        : 1px;
$border-type-card        : solid;
$border-color-card       : $color-white;
$border-color-card-focus : $color-accent;

$border-color-card-accent       : rgba($color-blue-dark, 0.25);
$border-color-card-accent-focus : $color-accent;

/* TRANSITION AND TRANSLATION DEFINITIONS */

/* motion functions */

$trans-func           : ease-in-out;
$trans-func-opacity   : $trans-func;
$trans-func-color     : $trans-func;
$trans-func-transform : $trans-func;

/* time periods */

$trans-time-base : 2.0s;
$trans-time-x-30 : $trans-time-base * 1.50;
$trans-time-x-20 : $trans-time-base * 1.00;
$trans-time-x-10 : $trans-time-base * 0.50;
$trans-time-x-09 : $trans-time-base * 0.45;
$trans-time-x-08 : $trans-time-base * 0.40;
$trans-time-x-07 : $trans-time-base * 0.35;
$trans-time-x-06 : $trans-time-base * 0.30;
$trans-time-x-05 : $trans-time-base * 0.25;
$trans-time-x-04 : $trans-time-base * 0.20;
$trans-time-x-03 : $trans-time-base * 0.15;
$trans-time-x-02 : $trans-time-base * 0.10;
$trans-time-x-01 : $trans-time-base * 0.05;

/* time period for contexts */

$trans-time              : $trans-time-x-02;
$trans-time-opacity      : $trans-time-x-04;
$trans-time-color        : $trans-time-x-03;
$trans-time-border       : $trans-time-x-04;
$trans-time-border-color : $trans-time-x-04;
$trans-time-transform    : $trans-time-x-01;

/* off-screen show/hide translations (horizontal movement) */

$trans-y-off-screen-reset : translateY(0);
$trans-y-off-screen-to-up : translateY(-100%);
$trans-y-off-screen-to-dn : translateY(100%);

/* off-screen show/hide translations (vertical movement) */

$trans-x-off-screen-reset : translateX(0);
$trans-x-off-screen-to-lt : translateX(-100%);
$trans-x-off-screen-to-rt : translateX(100%);

/* COMPONENTS */

/* cards */

$bg-color-card          : $bg-color-page-body-accent;

/* sections */

$bg-color-section       : $bg-color-page-body-accent;
$bg-color-section-focus : $bg-color-page-body-accent;

/* toggleable sections */

$bg-color-toggleable                 : $bg-color-card-overlay-blur;
$bg-color-toggleable-focus           : $bg-color-card-overlay-focus;
$bg-color-toggleable-card-head       : $bg-color-card-overlay-blur;
$bg-color-toggleable-card-head-focus : $bg-color-card-overlay-focus;
$bg-color-toggleable-card-foot       : $bg-color-card-overlay-accent-blur;
$bg-color-toggleable-card-foot-focus : $bg-color-card-overlay-accent-focus;

$trans-toggleable-card      : $trans-y-off-screen-reset;
$trans-toggleable-card-head : $trans-y-off-screen-to-up;
$trans-toggleable-card-foot : $trans-y-off-screen-to-dn;

/* linkable sections */

$bg-color-linkable           : $bg-color-page-body-accent;
$bg-color-linkable-focus     : $bg-color-page-body-normal;

/* scaffolding */

$body-bg               : $bg-color-page-body-normal;
$text-color            : $color-gray;
$link-color            : $color-primary;
$link-hover-color      : darken($link-color, 15%);
$link-hover-decoration : underline;

/* FONTS */

/* font families */

$font-family-sans-serif  : 'Roboto',  'Helvetica Neue',  'Helvetica', sans-serif;
$font-family-condensed   : 'Roboto Condensed', $font-family-sans-serif;
$font-family-serif       : 'Georgia', 'Times New Roman', 'Times',     serif;
$font-family-mono-space  : 'Menlo',   'Courier New'      'Monaco',    monospace;
$font-family-base        : $font-family-sans-serif;

/* font sizes */

$font-size-base : 13px;
$font-size-xxl  : $font-size-base * 1.6154; /* ~21px */
$font-size-xl   : $font-size-base * 1.3847; /* ~18px */
$font-size-lg   : $font-size-base * 1.2308; /* ~16px */
$font-size-md   : $font-size-base * 1.0000; /* ~13px */
$font-size-sm   : $font-size-base * 0.9231; /* ~12px */
$font-size-xs   : $font-size-base * 0.8469; /* ~11px */
$font-size-xxs  : $font-size-base * 0.7699; /* ~10px */

$font-size-h1 : $font-size-base * 4.3077; /* ~56px */
$font-size-h2 : $font-size-base * 3.4616; /* ~45px */
$font-size-h3 : $font-size-base * 2.6154; /* ~34px */
$font-size-h4 : $font-size-base * 1.8462; /* ~24px */
$font-size-h5 : $font-size-base * 1.5385; /* ~20px */
$font-size-h6 : $font-size-base * 1.0770; /* ~14px */

/* line heights */

$line-height-base     : 1.6923;
$line-height-computed : $font-size-base * $line-height-base; /* ~22px */

$line-height-lg : $line-height-base * 0.8864; /* ~ 1.50 */
$line-height-sm : $line-height-base * 0.7878; /* ~ 1.33 */
$line-height-xs : $line-height-base * 0.7091; /* ~ 1.20 */

/* headings */

$headings-font-family : inherit;
$headings-font-weight : 300;
$headings-line-height : $line-height-sm;
$headings-color       : $color-accent;

/* font margins */

$font-margin-base : $font-size-base;

/* iconography */

$icon-font-path   : '/assets/fonts/';
$icon-font-name   : 'glyphicons-halflings-regular';
$icon-font-svg-id : 'glyphicons_halflingsregular';

/* PADDING SIZES */

$padding-base : $font-size-base * 1.230769231; /* ~ 16 */

/* vertical padding sizes */

$padding-y-base : $padding-base * 0.500;   /* ~ 08 */
$padding-y-lg   : $padding-y-base * 1.250; /* ~ 10 */
$padding-y-md   : $padding-y-base * 0.500; /* ~ 04 */
$padding-y-sm   : $padding-y-base * 0.250; /* ~ 02 */
$padding-y-xs   : $padding-y-base * 0.125; /* ~ 01 */

/* horizontal padding sizes */

$padding-x-base : $padding-base;           /* ~ 16 */
$padding-x-lg   : $padding-x-base * 1.250; /* ~ 20 */
$padding-x-md   : $padding-x-base * 0.500; /* ~ 08 */
$padding-x-sm   : $padding-x-base * 0.250; /* ~ 04 */
$padding-x-xs   : $padding-x-base * 0.125; /* ~ 02 */

/* above-component padding */

$padding-above-lg  : $padding-base * 1.20 * 2.750; /* ~ 52.8 */
$padding-above     : $padding-base * 1.20 * 2.250; /* ~ 43.2 */
$padding-above-md  : $padding-base * 1.20 * 1.500; /* ~ 28.8 */
$padding-above-sm  : $padding-base * 1.20 * 1.000; /* ~ 19.2 */
$padding-above-xs  : $padding-base * 1.20 * 0.500; /* ~ 09.6 */
$padding-above-xxs : $padding-base * 1.20 * 0.250; /* ~ 04.8 */

/* below-component padding */

$padding-below-lg  : $padding-base * 1.25 * 2.750; /* ~ 55 */
$padding-below     : $padding-base * 1.25 * 2.250; /* ~ 45 */
$padding-below-md  : $padding-base * 1.25 * 1.500; /* ~ 30 */
$padding-below-sm  : $padding-base * 1.25 * 1.000; /* ~ 20 */
$padding-below-xs  : $padding-base * 1.25 * 0.500; /* ~ 10 */
$padding-below-xxs : $padding-base * 1.20 * 0.250; /* ~ 5 */

/* BORDERS */

/* radius sizes */

$border-radius-none : 0;
$border-radius-base : 2px;
$border-radius-hint : $border-radius-base * 0.5; /* ~ 01 */
$border-radius-xs   : $border-radius-base * 1.0; /* ~ 02 */
$border-radius-sm   : $border-radius-base * 1.5; /* ~ 03 */
$border-radius-md   : $border-radius-base * 2.0; /* ~ 04 */
$border-radius-lg   : $border-radius-base * 2.5; /* ~ 05 */
$border-radius-xl   : $border-radius-base * 4.0; /* ~ 08 */

/* CARETS */

$caret-width-base  : 4px;
$caret-width-large : $caret-width-base * 1.25;

/* TABLES */

$table-cell-padding           : $padding-base;
$table-condensed-cell-padding : $padding-below-xxs;
$table-bg                     : $color-transparent;
$table-bg-accent              : $color-gray-bg-alt-3;
$table-bg-hover               : $color-gray-bg-alt-2;
$table-bg-active              : $table-bg-hover;
$table-border-color           : $color-gray-light-m;

/* BUTTONS */

$btn-font-weight : normal;

$btn-default-color  : $color-gray-darkish-alt-1;
$btn-default-bg     : $color-white;
$btn-default-border : $color-transparent;

$btn-primary-color  : $color-white;
$btn-primary-bg     : $color-primary-light;
$btn-primary-border : $color-primary-dark;

$btn-okay-color  : $color-white;
$btn-okay-bg     : $color-okay;
$btn-okay-border : $color-transparent;

$btn-info-color  : $color-white;
$btn-info-bg     : $color-info;
$btn-info-border : $color-transparent;

$btn-warn-color  : $color-white;
$btn-warn-bg     : $color-warn;
$btn-warn-border : $color-transparent;

$btn-crit-color  : $color-white;
$btn-crit-bg     : $color-crit;
$btn-crit-border : $color-transparent;

$btn-link-disabled-color : $color-gray-light;

$btn-border-radius-base  : $border-radius-base;
$btn-border-radius-large : $border-radius-md;
$btn-border-radius-small : $border-radius-sm;

/* FORM COMPONENTS */

$input-bg          : $color-transparent;
$input-bg-disabled : $color-transparent;
$input-color       : $color-gray;
$input-border      : $color-transparent;

$input-border-radius       : $border-radius-base;
$input-border-radius-large : $border-radius-md;
$input-border-radius-small : $border-radius-sm;
$input-border-focus        : $color-primary;
$input-color-placeholder   : $color-blue-light;
$input-height-base         : ($line-height-computed + ($padding-y-base * 2) + 2);
$input-height-large        : (ceil($font-size-lg * $line-height-lg) + ($padding-y-lg * 2) + 2);
$input-height-small        : (floor($font-size-xs * $line-height-sm) + ($padding-y-sm * 2) + 2);
$form-group-margin-bottom  : $padding-base;
$legend-color              : $color-gray-dark;
$legend-border-color       : $color-gray-light-m;

$input-group-addon-bg           : $color-transparent;
$input-group-addon-border-color : $input-border;
$cursor-disabled                : not-allowed;

/* DROP-DOWNS */

$dropdown-bg              : $color-white;
$dropdown-border          : rgba($color-black , 0.15);
$dropdown-fallback-border : $color-gray-light-m1;
$dropdown-divider-bg      : $color-gray-light-m;

$dropdown-link-color       : $text-color;
$dropdown-link-hover-color : darken($color-gray-dark, 5%);
$dropdown-link-hover-bg    : $color-gray-lighter;

$dropdown-link-active-color : $component-active-color;
$dropdown-link-active-bg    : $component-active-bg;

$dropdown-link-disabled-color : $color-gray-light;
$dropdown-header-color        : $color-gray-light;
$dropdown-caret-color         : $color-gray-light;

/* Z-INDEX (MASTER LIST) */

$z-index-navbar       : 1000;
$z-index-navbar-fixed : 1030;
$z-index-dropdown     : 1000;
$z-index-popover      : 1060;
$z-index-tooltip      : 1070;
$z-index-modal-bg     : 1040;
$z-index-modal        : 1050;
$z-index-card-body    : 1;
$z-index-card-head    : 9;
$z-index-card-foot    : 9;

/* BREAKPOINTS */

$screen-xs         : 480px;
$screen-xs-min     : $screen-xs;
$screen-phone      : $screen-xs-min;
$screen-sm         : 768px;
$screen-sm-min     : $screen-sm;
$screen-tablet     : $screen-sm-min;
$screen-md         : 992px;
$screen-md-min     : $screen-md;
$screen-desktop    : $screen-md-min;
$screen-lg         : 1200px;
$screen-lg-min     : $screen-lg;
$screen-lg-desktop : $screen-lg-min;

/* stop media queries from overlapping */

$screen-xs-max : $screen-sm-min - 1;
$screen-sm-max : $screen-md-min - 1;
$screen-md-max : $screen-lg-min - 1;

/* grid */

$grid-columns      : 12;
$grid-gutter-width : 30px;

/* nav bar collapse breakpoints */

$grid-float-breakpoint     : $screen-sm-min;
$grid-float-breakpoint-max : $grid-float-breakpoint - 1;

/* CONTAINERS */

$container-tablet        : (720px + $grid-gutter-width);
$container-sm            : $container-tablet;
$container-desktop       : (940px + $grid-gutter-width);
$container-md            : $container-desktop;
$container-large-desktop : (1140px + $grid-gutter-width);
$container-lg            : $container-large-desktop;

/* NAV-BAR */

$navbar-height              : 92px;
$navbar-margin-bottom       : $line-height-computed;
$navbar-border-radius       : $border-radius-none;
$navbar-padding-horizontal  : floor(($grid-gutter-width / 2));
$navbar-padding-vertical    : (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height : 340px;

$navbar-default-color  : $color-gray-light;
$navbar-default-bg     : $color-white;
$navbar-default-border : $color-transparent;

/* nav bar links */

$navbar-default-link-color : $color-gray;
$navbar-default-link-hover-color : $color-gray-dark;
$navbar-default-link-hover-bg : $color-transparent;
$navbar-default-link-active-color : $color-gray-dark;
$navbar-default-link-active-bg : darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color : $color-gray-light-m1;
$navbar-default-link-disabled-bg : $color-transparent;

/* nav bar brand label */

$navbar-default-brand-color : $navbar-default-link-color;
$navbar-default-brand-hover-color : $navbar-default-link-hover-color;
$navbar-default-brand-hover-bg : $color-transparent;

/* nav bar toggle */

$navbar-default-toggle-hover-bg : $color-transparent;
$navbar-default-toggle-icon-bar-bg : rgba($color-black , 0.50);
$navbar-default-toggle-border-color : $color-transparent;

/* inverted nav bar */

$navbar-inverse-color : $color-gray-light;
$navbar-inverse-bg : rgba($color-primary, 0.88);
$navbar-inverse-border : $color-transparent;

/* inverted nav bar links */

$navbar-inverse-link-color          : lighten($color-primary, 30%);
$navbar-inverse-link-hover-color    : $color-white;
$navbar-inverse-link-hover-bg       : rgba(darken($navbar-inverse-bg, 5%), 0.5);
$navbar-inverse-link-active-color   : $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg      : darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color : $color-gray-darkish-alt-1;
$navbar-inverse-link-disabled-bg    : $color-transparent;

/* inverted nav bar brand label */

$navbar-inverse-brand-color       : $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color : $color-white;
$navbar-inverse-brand-hover-bg    : $color-transparent;

/* inverted nav bar toggle */

$navbar-inverse-toggle-hover-bg     : $color-transparent;
$navbar-inverse-toggle-icon-bar-bg  : rgba($color-black , 0.50);
$navbar-inverse-toggle-border-color : $color-transparent;

/* shared nav styles */

$nav-link-padding  : 10px 18px;
$nav-link-hover-bg : $color-gray-lighter;

$nav-disabled-link-color       : $color-gray-light;
$nav-disabled-link-hover-color : $color-gray-light;

/* TABS */

$nav-tabs-border-color                       : $color-transparent;
$nav-tabs-link-hover-border-color            : $color-gray-lighter;
$nav-tabs-active-link-hover-bg               : $color-transparent;
$nav-tabs-active-link-hover-color            : $color-gray;
$nav-tabs-active-link-hover-border-color     : $color-transparent;
$nav-tabs-justified-link-border-color        : $nav-tabs-border-color;
$nav-tabs-justified-active-link-border-color : $body-bg;

/* PILLS */

$nav-pills-border-radius           : $border-radius-base;
$nav-pills-active-link-hover-bg    : $component-active-bg;
$nav-pills-active-link-hover-color : $component-active-color;

/* PAGINATION */

$pagination-color  : rgba($color-black, 0.6);
$pagination-bg     : $color-transparent;
$pagination-border : $color-transparent;

$pagination-hover-color  : $color-white;
$pagination-hover-bg     : $color-primary;
$pagination-hover-border : $color-transparent;

$pagination-active-color  : $color-primary;
$pagination-active-bg     : $color-transparent;
$pagination-active-border : $color-transparent;

$pagination-disabled-color  : rgba($color-black, 0.35);
$pagination-disabled-bg     : rgba(248, 248, 249, 0.75);
$pagination-disabled-border : $color-transparent;

/* PAGER */

$pager-bg            : $pagination-bg;
$pager-border        : $pagination-border;
$pager-border-radius : 15px;

$pager-hover-bg       : $pagination-hover-bg;
$pager-active-bg      : $pagination-active-bg;
$pager-active-color   : $pagination-active-color;
$pager-disabled-color : $pagination-disabled-color;

/* JUMBO-TRON */

$jumbotron-padding           : 36px;
$jumbotron-color             : inherit;
$jumbotron-bg                : $color-gray-bg-alt-3;
$jumbotron-heading-color     : $headings-color;
$jumbotron-font-size         : ceil($font-size-base * 1.5);
$jumbotron-heading-font-size : ceil($font-size-base * 4.5);

/* TOOLTIPS */

$tooltip-max-width : 260px;
$tooltip-color     : $color-white;
$tooltip-bg        : $color-black;
$tooltip-opacity   : 0.9;

$tooltip-arrow-width : 4px;
$tooltip-arrow-color : $tooltip-bg;

/* POPOVERS */

$popover-bg                         : $color-white;
$popover-max-width                  : 276px;
$popover-border-color               : $color-transparent;
$popover-fallback-border-color      : $color-transparent;
$popover-title-bg                   : darken($popover-bg, 3%);
$popover-arrow-width                : 10px;
$popover-arrow-color                : $popover-bg;
$popover-arrow-outer-width          : ($popover-arrow-width + 1);
$popover-arrow-outer-color          : fadein($popover-border-color, 7.5%);
$popover-arrow-outer-fallback-color : darken($popover-fallback-border-color, 20%);

/* LABELS */

$label-default-bg : $color-gray-light;
$label-primary-bg : $color-primary;
$label-okay-bg    : $color-okay;
$label-info-bg    : $color-info;
$label-warn-bg    : $color-warn;
$label-crit-bg    : $color-crit;

$label-color            : $color-white;
$label-link-hover-color : $color-white;

/* MODALS */

$modal-inner-padding     : 15px;
$modal-title-padding     : 15px;
$modal-title-line-height : $line-height-base;

$modal-content-bg                    : $color-white;
$modal-content-border-color          : $color-transparent;
$modal-content-fallback-border-color : rgba(153, 153, 153, 1.00);

$modal-backdrop-bg         : rgba($color-black , 1.00);
$modal-backdrop-opacity    : 0.5;
$modal-header-border-color : $color-transparent;
$modal-footer-border-color : $modal-header-border-color;

$modal-lg : 900px;
$modal-md : 600px;
$modal-sm : 300px;

/* ALERTS */

$alert-padding          : 15px;
$alert-border-radius    : $border-radius-base;
$alert-link-font-weight : bold;

$alert-okay-bg     : $bg-color-okay;
$alert-okay-text   : $color-okay;
$alert-okay-border : $border-color-okay;

$alert-info-bg     : $bg-color-info;
$alert-info-text   : $color-info;
$alert-info-border : $border-color-info;

$alert-warn-bg     : $bg-color-warn;
$alert-warn-text   : $color-warn;
$alert-warn-border : $border-color-warn;

$alert-crit-bg     : $bg-color-crit;
$alert-crit-text   : $color-crit;
$alert-crit-border : $border-color-crit;

/* Progress bars */

$progress-bg : $color-gray-bg-alt-2;
$progress-bar-color : $color-white;
$progress-border-radius : $border-radius-base;

$progress-bar-bg : $color-primary;
$progress-bar-okay-bg : $color-okay;
$progress-bar-warn-bg : $color-warn;
$progress-bar-crit-bg : $color-crit;
$progress-bar-info-bg : $color-info;

/* List group */

$list-group-bg : $color-white;
$list-group-border : $color-gray-light-m;
$list-group-border-radius : $border-radius-base;

$list-group-hover-bg : $color-gray-bg-alt-2;
$list-group-active-color : $component-active-color;
$list-group-active-bg : $component-active-bg;
$list-group-active-border : $list-group-active-bg;
$list-group-active-text-color : lighten($list-group-active-bg, 40%);

$list-group-disabled-color : $color-gray-light;
$list-group-disabled-bg : $color-gray-lighter;
$list-group-disabled-text-color : $list-group-disabled-color;

$list-group-link-color : rgba(085, 085, 085, 1.00);
$list-group-link-hover-color : $list-group-link-color;
$list-group-link-heading-color : $color-gray-darkish;

/* PANELS */

$panel-bg              : $color-white;
$panel-body-padding    : 15px;
$panel-heading-padding : 10px 15px;
$panel-footer-padding  : $panel-heading-padding;
$panel-border-radius   : $border-radius-base;

$panel-inner-border : $color-gray-light-m;
$panel-footer-bg    : $color-gray-bg-alt-2;

$panel-default-text       : $color-gray-dark;
$panel-default-border     : $color-gray-light-m;
$panel-default-heading-bg : $color-gray-bg-alt-2;

$panel-primary-text       : $color-white;
$panel-primary-border     : $color-primary;
$panel-primary-heading-bg : $color-primary;

$panel-okay-text       : $color-white;
$panel-okay-border     : $border-color-okay;
$panel-okay-heading-bg : $color-okay;

$panel-info-text       : $color-white;
$panel-info-border     : $border-color-info;
$panel-info-heading-bg : $color-info;

$panel-warn-text       : $color-white;
$panel-warn-border     : $border-color-warn;
$panel-warn-heading-bg : $color-warn;

$panel-crit-text       : $color-white;
$panel-crit-border     : $border-color-crit;
$panel-crit-heading-bg : $color-crit;

/* Thumbnails */

$thumbnail-padding : 4px;
$thumbnail-bg : $body-bg;
$thumbnail-border : $color-gray-light-m;
$thumbnail-border-radius : $border-radius-base;

$thumbnail-caption-color : $text-color;
$thumbnail-caption-padding : 9px;

/* Wells */

$well-bg : $color-gray-bg-alt-3;
$well-border : $color-transparent;

/* Badges */

$badge-color : $color-white;
$badge-link-hover-color : $color-white;
$badge-bg : $color-gray-light;

$badge-active-color : $link-color;
$badge-active-bg : $color-white;

$badge-font-weight : normal;
$badge-line-height : 1;
$badge-border-radius : 10px;

/* Breadcrumbs */

$breadcrumb-padding-vertical : 8px;
$breadcrumb-padding-horizontal : 15px;
$breadcrumb-bg : $color-gray-bg-alt-2;
$breadcrumb-color : $color-gray-light-m1;
$breadcrumb-active-color : $color-gray-light;
$breadcrumb-separator : '/';

/* Carousel */

$carousel-text-shadow : 0 1px 2px rgba($color-black , 0.60);

$carousel-control-color : $color-white;
$carousel-control-width : 15%;
$carousel-control-opacity : 0.5;
$carousel-control-font-size : 20px;

$carousel-indicator-active-bg : $color-white;
$carousel-indicator-border-color : $color-white;

$carousel-caption-color : $color-white;

/* Close */

$close-font-weight : normal;
$close-color       : $color-black;
$close-text-shadow : none;

/* CODE / PRE */

$code-color                : $color-red-bright;
$code-bg                   : $color-red-gray;
$kbd-color                 : $color-white;
$kbd-bg                    : $color-gray-darkish;
$pre-bg                    : $color-gray-bg-alt-2;
$pre-color                 : $color-gray-dark;
$pre-border-color          : $color-gray-light-m1;
$pre-scrollable-max-height : 340px;

/* TYPE */

$component-offset-horizontal : 180px;
$text-muted                  : $color-gray-light;
$abbr-border-color           : $color-gray-light;
$headings-small-color        : $color-gray-light;
$blockquote-small-color      : $color-gray-light;
$blockquote-font-size        : ($font-size-base * 1.25);
$blockquote-border-color     : $color-gray-lighter;
$page-header-border-color    : $color-gray-lighter;
$dl-horizontal-offset        : $component-offset-horizontal;
$dl-horizontal-breakpoint    : $grid-float-breakpoint;
$hr-border                   : $color-gray-lighter;

/* EOF */
