
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

body {
  -webkit-font-smoothing : antialiased;
  letter-spacing         : 0.1px;
}

p {
  margin : 0 0 1em;
}

input,
button {
  -webkit-font-smoothing : antialiased;
  letter-spacing         : 0.1px;
}

a {
  @include transition(all 0.2s);
}

/* EOF */
