
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* photos feed */

#feed-photos .card {
  &.action-status-icon {
    box-shadow : none !important;
  }
}

/* card photo feed */

.card-listing .card-feed-photo {
  @include make-sm-column(3);

  .card {
    .card-section-head {
      font-size  : 860%;
      margin-top : 160px;

      @media (min-width : $screen-sm-min) {
        font-size  : 140%;
        margin-top : 60px;
      }
      @media (min-width : $screen-md-min) {
        font-size  : 200%;
        margin-top : 80px;
      }
      @media (min-width : $screen-lg-min) {
        font-size  : 320%;
        margin-top : 80px;
      }

      pointer-events             : none;
      display                    : block;
      background-color           : transparent;
      border-bottom              : none;
      text-align                 : center;
      will-change                : auto;
      transition                 : margin-top $trans-time-x-03;
      transition-timing-function : $trans-func-transform;

      .fa {
        will-change                : auto;
        transition                 : color $trans-time-x-03, margin $trans-time-x-03, transform $trans-time-x-07;
        transition-timing-function : $trans-func-transform;
      }

      .fa-circle {
        color : rgba($color-black, 0);
      }

      .fa-youtube-play,
      .fa-expand{
        color : rgba($color-white, 0);
      }
    }

    &:hover .card-section-head {
      margin-top : 72px;

      @media (min-width : $screen-sm-min) {
        margin-top : 32px;
      }
      @media (min-width : $screen-md-min) {
        margin-top : 42px;
      }
      @media (min-width : $screen-lg-min) {
        margin-top : 40px;
      }

      .fa-circle {
        color : rgba($color-black, 0.8);
      }

      .fa-youtube-play,
      .fa-expand {
        color     : rgba($color-white, 0.9);
        transform : rotate(720deg);
      }
    }

    > .card-section-body {
      img {
        width : 100%;
      }

      a {
        .feed-attachment {
          @include img-responsive();
        }
      }

      .feed-attachment-video {
        display : none;
      }
    }
  }
}

/* social feed */

.feed-social {
  @include make-row();

  .card-feed-listing {
    @include make-sm-column(7);
  }

  .feed-social-link {
    @include make-sm-column(4);
    @include make-sm-column-offset(1);

    .card {
      padding : 0 29px 29px 29px;

      .btn {
        margin-top : 29px;
      }
    }
  }
}

/* card-based social feed */

.card-feed-social {
  > .card {
    .card-section-head {
      padding          : 21px 29px 21px 21px;
      text-align       : right;
      background-color : rgba($color-gray-bg-alt, 0.4);
      border-bottom    : 1px solid rgba($color-accent, 0.2);

      .feed-info-type {
        color : rgba($color-accent, 0.8);

        .icon-ion {
          position  : absolute;
          top       : 12px;
          left      : 29px;
          font-size : 45px;
        }
      }

      .feed-info-date time {
        display        : block;
        padding-top    : 3px;
        font-size      : 13px;
        font-weight    : 300;
        color          : $color-primary-dark;
        text-transform : uppercase;
        font-family    : $font-family-condensed;
      }
    }

    .card-section-body {
      padding : 21px 21px 9px 21px;

      .feed-post-message p {
        color       : $color-gray-darkish-alt-2;
        margin      : 3px 0 0 0;
        font-weight : 300;
        font-size   : 14px;
        text-align  : center;
      }

      .feed-attachment-link-wrap {
        padding-bottom : 20px;
      }

      .feed-attachment-link {
        width : 100%;
        float : none;

        img {
          @include img-responsive();

          pointer-events : auto;

          cursor           : pointer;
          border           : $border-color-linkable;
          background-color : $bg-color-linkable;
          will-change      : auto;
          transition       : border $trans-time-x-08, background-color $trans-time-x-08, box-shadow $trans-time-x-04;

          &:hover {
            border           : $border-color-linkable-focus;
            background-color : $bg-color-linkable-focus;
            box-shadow       : 0 6px 27px rgba($color-black, 0.5);

            > .card-section-head,
            > .card-section-foot {
              background-color : $bg-color-section-focus;
            }
          }
        }
      }
    }

    > .card-section-foot .card-feed-attachment,
    > .card-section-body .card-feed-attachment {
      margin : 12px 21px 21px 21px;

      .card {
        margin-bottom  : 21px;
        pointer-events : none;

        &.card-feed-attachment-video {
          pointer-events : auto;

          .card-section-body img {
            pointer-events : none;
          }
        }

        .card-section-head {
          font-size  : 400%;
          margin-top : 60px;

          @media (min-width : $screen-sm-min) {
            font-size  : 400%;
            margin-top : 80px;
          }
          @media (min-width : $screen-md-min) {
            font-size  : 500%;
            margin-top : 120px;
          }
          @media (min-width : $screen-lg-min) {
            font-size  : 700%;
            margin-top : 160px;
          }

          pointer-events             : none;
          display                    : block;
          background-color           : transparent;
          border-bottom              : none;
          text-align                 : center;
          will-change                : auto;
          transition                 : margin-top $trans-time-x-03;
          transition-timing-function : $trans-func-transform;

          .fa {
            will-change                : auto;
            transition                 : color $trans-time-x-03, margin $trans-time-x-03, transform $trans-time-x-07;
            transition-timing-function : $trans-func-transform;
          }

          .fa-circle {
            color : rgba($color-black, 0);
          }

          .fa-youtube-play,
          .fa-expand{
            color : rgba($color-white, 0);
          }
        }

        &:hover .card-section-head {
          margin-top : 6px;

          @media (min-width : $screen-sm-min) {
            margin-top : 25px;
          }
          @media (min-width : $screen-md-min) {
            margin-top : 60px;
          }
          @media (min-width : $screen-lg-min) {
            margin-top : 70px;
          }

          .fa-circle {
            color : rgba($color-black, 0.8);
          }

          .fa-youtube-play,
          .fa-expand {
            color     : rgba($color-white, 0.9);
            transform : rotate(720deg);
          }
        }

        .card-section-body {
          pointer-events : none;
          margin         : 0;
          padding        : 0;

          .feed-attachment-link {
            &:first-child {
              width : 100%;
              float : none;
            }

            width : 50%;
            float : left;

            img {
              @include img-responsive();

              pointer-events : auto;

              cursor           : pointer;
              border           : $border-color-linkable;
              background-color : $bg-color-linkable;
              will-change      : auto;

              transition : border $trans-time-x-08, background-color $trans-time-x-08, box-shadow $trans-time-x-04;

              &:hover {
                border           : $border-color-linkable-focus;
                background-color : $bg-color-linkable-focus;
                box-shadow       : 0 6px 27px rgba($color-black, 0.5);

                > .card-section-head,
                > .card-section-foot {
                  background-color : $bg-color-section-focus;
                }
              }
            }
          }
        }

        .card-section-foot {
          pointer-events   : none;
          margin           : 0;
          background-color : rgba($color-accent-alt, 0.9) !important;

          .feed-type {
            display          : block;
            margin           : 9px 6px 9px 6px;
            text-align       : center;
            font-weight      : 300;
            text-transform   : uppercase;
            color            : $color-white;
          }
        }
      }
    }

    &.is-top-flush {
      margin-top : -50px;
    }
  }
}

/* feed post */

.feed-post-wrapper {
  .feed-post {
    background-color : $color-white;
    border           : 1px solid $color-white;
    margin-bottom    : 36px;
    cursor           : pointer;
    border-radius    : 3px;
    transition       : border-color $trans-time-border-color;

    &:hover {
      border-color : $color-accent;

      .feed-post-message {
        background-color : $color-gray-bg;
      }

      .feed-post-attachments {
        background-color : $color-gray-bg;
      }

      .feed-post-attachments .feed-post-attachments-overlay {
        transform : translateY(0);
      }
    }

    .feed-post-info {
      pointer-events   : none;
      padding          : 12px 21px 14px 21px;
      text-align       : right;
      background-color : $color-gray-bg-alt;

      .feed-post-info-type {
        float        : left;
        font-size    : 15px;
        color        : $color-primary;
        margin-right : 15px;
      }

      .feed-post-info-date {
        float : left;

        time {
          display        : block;
          font-size      : 13px;
          color          : $color-primary;
          text-transform : uppercase;
          font-weight    : 300;
          padding-top    : 3px;
        }
      }

      .feed-post-info-reactions {
        display : inline-block;

        p {
          display          : inline-block;
          font-size        : 10px;
          line-height      : 10px;
          margin           : 0 0 0 12px;
          background-color : $color-white;
          padding          : 4px 5px 3px 5px;
          border-radius    : 3px;
          font-weight      : 300;
          color            : $color-gray-light;
        }

        .em {
          color       : rgba($color-accent, 0.5);
          font-weight : 400;
        }
      }
    }

    .feed-post-message {
      pointer-events : none;
      padding        : 21px 21px 9px 21px;
      transition     : background-color $trans-time-color;

      p {
        color       : $color-gray-dark;
        margin      : 0;
        font-weight : 300;
        font-size   : 16px;
      }
    }

    .feed-post-attachments {
      transition     : background-color 0.4s;
      pointer-events : none;
      padding        : 12px 0 0 0;
      overflow       : hidden;
      position       : relative;

      .feed-post-attachment-media {
        padding    : 0 18px 18px 18px;
        z-index    : 9;
        transition : all $trans-time;
      }

      .feed-post-attachments-overlay {
        transform        : translateY(90px);
        transition       : transform 0.5s;
        position         : absolute;
        z-index          : 10;
        left             : 0;
        right            : 0;
        bottom           : 0;
        padding          : 0;
        line-height      : 56px;
        font-size        : 14px;
        text-align       : center;
        background-color : $color-accent;

        p {
          display        : inline-block;
          padding        : 0;
          font-size      : 12px;
          font-weight    : 300;
          line-height    : 12px;
          color          : $color-white;
          text-transform : uppercase;

          i {
            display      : block;
            font-size    : 14px;
            margin-right : 12px;
          }
        }
      }
    }
  }
}

/* index feed */

.feed-index {
  .btn-primary {
    margin-bottom : 36px;
  }

  h2 {
    margin      : 60px 0 36px 0;
    font-size   : 28px;
    font-weight : 300;
    color       : $color-accent;
  }
}

/* EOF */
