
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* category card */

.card-category {
  @include make-sm-column(12);
}

/* product cards */

.card  > .card-section-head  > .product-name {
  margin : $padding-above-sm;

  > h3,
  > h4,
  > h5 {
    color         : $color-primary-dark;
    font-family   : $font-family-condensed;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
  }

  > h3 {
    font-size : $font-size-lg;
  }

  > h4 {
    font-size : $font-size-xl;
  }

  > h5 {
    font-size : $font-size-h5;
  }
}

.card  > .card-section-head  > .product-price {
  font-size   : $font-size-sm;
  font-weight : 400;
  color       : $color-accent;
  margin      : -$padding-above-sm $padding-above-sm ($padding-above-sm*0.75) $padding-above-sm;

  p {
    margin-bottom : 0;
  }
}

.card-listing .card-product-featured .card,
.card-listing .card-product-similar .card,
.card-listing .card-product-related .card,
.card-listing .card-product .card {
  > * {
    pointer-events : none;
  }

  > .card-section-body img {
    @include img-responsive();

    width : 100%;
  }
}

.card-listing .card-product-similar,
.card-listing .card-product-related,
.card-listing .card-product {
  @include make-sm-column(3);
}

.card-listing .card-product-featured {
  @include make-sm-column(4);

  > .card-section-foot {
    margin           : 0;
    background-color : rgba($color-accent-alt, 0.9) !important;
  }
}

.product-view-image-more {
  @include make-sm-column(12);

  margin-top : -40px;

  .product-view-image-more-item {
    @include make-sm-column(2);
  }

  .card {
    .card-section-body {
      .feed-attachment-link {
        img {
          @include img-responsive();
        }
      }
    }
  }
}

.product-view-image {
  @include make-sm-column(5);

  padding-top    : $padding-above;
  padding-bottom : $padding-below-md;

  .card {
    .card-section-body {
      .feed-attachment-link {
        img {
          @include img-responsive();
        }
      }
    }
  }
}

.product-alternate-images {
  padding          : 1px 1px 3px 3px;
  background-color : $color-white;
  display          : flex;
  flex-wrap        : wrap;
  box-shadow       : 0 3px 12px rgba($color-blue-darkest, 0.075);
  border           : 1px solid $color-gray-bg;

  .card {
    will-change                : auto;
    transition                 : opacity $trans-time-x-05, filter $trans-time-x-05;
    transition-timing-function : $trans-func-transform;
    opacity                    : 0.75;
    margin                     : 2px 2px 0 0;
    width                      : calc(100% * (1/4) - 2px);
    border                     : 1px solid transparent !important;

    img {
      filter: grayscale(80%);
    }

    &:hover {
      opacity    : 1;
      box-shadow : none !important;
      border     : 1px solid transparent !important;

      img {
        filter: grayscale(0%);
      }
    }
  }
}

.product-view-info {
  @include make-sm-column(7);

  padding-top    : $padding-above;
  padding-bottom : $padding-below-md;
}

.card-product-info {
  padding : 6px 30px 30px 30px;

  hr {
    border-top : 1px solid rgba($color-accent, 0.5);
    padding    : $padding-above-sm 0 0;
  }

  hr.muted {
    border-top : 1px solid rgba($color-accent, 0.5);
  }

  .product-price {
    .product-price-main {
      color     : $color-primary;
      font-size : $font-size-h3;
      margin    : 0;
    }

    .product-price-extra {
      font-size     : 12px;
      margin-bottom : 30px;
      color         : $color-gray-light;
      font-style    : italic;

      em {
        font-weight : 500;
      }
    }
  }

  .product-action .btn-default {
    background-color : $pagination-disabled-bg;
  }

  .product-sku {
    margin : $padding-above-sm 0 $padding-below-sm 0;

    .label {
      font-size   : 90%;
      font-weight : 300;
      padding     : 0.4em 0.6em;
    }
  }
}

.product-price-main {
  color     : $color-primary;
  font-size : $font-size-h3;
}

.card-product-category {
  @include make-sm-column(12);

  .card {
    .card-section-head {
      pointer-events   : none;
      background-color : rgba($color-gray-bg-alt, 0.4);
      will-change      : background-color;
      transition       : background-color $trans-time-x-04;

      h4 {
        margin  : 0;
        padding : $padding-above-xxs 0 $padding-below-xs 0;

        a {
          font-family : $font-family-condensed;
          color       : $color-primary;
          padding     : $padding-x-base 0 $padding-y-lg $padding-x-lg*1.2;
          display     : block;
          will-change : color;
          transition  : color $trans-time-color;

          &:hover {
            text-decoration : none;
          }
        }
      }

      .category-desc {
        padding     : 0 0 $padding-y-md $padding-x-lg*1.2;
        margin-top  : -$padding-x-lg;
        color       : lighten($color-blue-dark, 20%);
        font-size   : $font-size-md;
        font-weight : 300;
        transition  : color $trans-time-color;
        will-change : color;
      }

      .category-info {
        position       : absolute;
        right          : $padding-x-lg*1.2;
        top            : (($padding-above-xs*4)-2);
        color          : $color-accent;
        font-size      : $font-size-md;
        font-weight    : 200;
        text-transform : uppercase;
        transition     : color $trans-time-color;
        will-change    : color;

        em {
          font-style  : normal;
          font-weight : 400;
        }
      }
    }

    .card-section-body {
      display        : flex;
      flex-wrap      : wrap;
      pointer-events : none;

      .category-image-thumb {
        width     : calc(100% * (1/6));
        flex-grow : 0;

        img {
          @include img-responsive();
        }
      }
    }

    .card-section-foot .category-link a {
      display : block;
    }

    &:hover .card-section-head {
      h4 a {
        color : darken($color-primary, 10%);
      }

      .category-desc {
        color : darken($color-blue-dark, 10%);
      }

      .category-info {
        color : darken($color-accent, 10%);
      }
    }
  }
}

/* EOF */
