
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* contact page */

.coupon {
  @include make-row();

  .coupon-list {
    @include make-sm-column(7);

    .card {
      padding    : 0 $padding-x-base*2 0 $padding-x-base*2;
      text-align : center;

      .coupon-name {
        margin           : 0 (-$padding-x-base*2) 0 (-$padding-x-base*2);
        padding          : 12px 21px;
        background-color : rgba($color-gray-bg-alt, 0.4);
        border-bottom    : 1px solid rgba($color-accent, 0.2);
        font-size        : 27px;
      }

      .coupon-discount {
        margin-bottom : 0;
        font-size     : 60px;
        font-weight   : 500;

        strong {
          font-weight : 600;
        }
      }

      .coupon-minimum {
        margin-top  : 0;
        font-size   : 20px;
        font-weight : 200;

        em {
          font-weight : 300;
          font-style  : normal;
        }
      }

      .coupon-code {
        font-size   : 20px;

        span {
          cursor           : pointer;
          color            : $color-primary-dark;
          background-color : rgba($color-gray-bg-alt, 0.6);
          will-change      : auto;
          transition       : color $trans-time-x-08, background-color $trans-time-x-06;
          padding          : 15px 24px 12px;
          display          : inline-block;

          em {
            font-style  : normal;
            font-family : $font-family-mono-space;
          }

          i {
            padding : 0 9px 0 0;
          }

          &:hover {
            color            : $color-white;
            background-color : rgba($color-primary-dark, 0.8);
          }
        }
      }

      .coupon-description {
        margin : 18px 0 -12px 0;
      }

      .coupon-detail {
        font-size   : 10px;
        font-weight : 300;
        padding     : 18px 0;
        color       : $color-gray;

        em {
          font-weight : 400;
          font-style  : normal;
        }
      }
    }
  }

  .coupon-info {
    @include make-md-column(5);
    @include make-md-column-offset(0);
    @include make-lg-column(4);
    @include make-lg-column-offset(1);

    .card {
      padding : 0 29px 29px 29px;
    }
  }
}

/* EOF */
