
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* cart checkout */

.checkout {
  @include make-row();

  .card {
    padding : 0 29px 29px 29px;
  }

  .checkout-form-wrap {
    @include make-sm-column(7);

    .form-submit-wrap {
      @include make-row();

      .btn {
        width : 50%;
      }
    }

    .checkout-error {
      margin      : 0;
      font-size   : 18px;
      font-weight : 300;
      color       : darken($color-red-bright, 20%);

      p {
        padding : 0;
        margin  : 0;

        em {
          font-style     : normal;
          font-weight    : 400;
        }
      }
    }
  }

  .checkout-info {
    @include make-md-column(5);
    @include make-md-column-offset(0);
    @include make-lg-column(4);
    @include make-lg-column-offset(1);

    .checkout-info-item-group {
      .checkout-info-item {
        overflow      : hidden;
        padding       : 0;
        margin-bottom : 6px;

        .cart-item-image {
          float : left;
          width : 52px;

          img {
            width : 100%;
          }
        }

        h4 {
          display     : block;
          margin      : 6px 0 0 0;
          padding     : 0 0 0 63px;
          font-size   : $font-size-h6;
          font-weight : 400;
        }

        h5 {
          margin    : 0;
          padding   : 3px 0 0 63px;
          font-size : $font-size-sm;

          em {
            font-weight : 500;
            font-style  : normal;
          }
        }
      }
    }

    .cart-total {
      text-align : right;

      .cart-total-breakdown {
        overflow : auto;
        margin   : 36px 0 0 0;

        > * {
          float : left;
        }

        dt {
          font-weight : 500;
          padding     : 0 6px;
        }

        dd {
          font-weight : 400;

          &:after {
            content : ' / ';
          }

          &:last-child {
            &:after {
              content : '';
            }
          }
        }
      }

      .cart-total-total {
        clear         : right;
        float         : right;
        font-size     : $font-size-h4;
        color         : $color-accent;
        margin-bottom : 0;

        > * {
          float : left;
        }

        dt {
          padding : 0 6px;

          &:after {
            content : ': ';
          }
        }

        dt,
        dd {
          font-weight : 500;
        }
      }

      .cart-total-discount {
        clear  : right;
        float  : right;
        margin : 0 0 9px 0;

        > * {
          float : left;
        }

        dt {
          padding : 0 6px;
        }

        dt {
          font-weight : 500;
        }

        dd {
          font-weight : 400;
        }
      }
    }
  }
}

.cart-actions {
  @include make-row();

  .cart-btns,
  .cart-total {
    @include make-sm-column(6);
  }

  .cart-btns {
    margin-top : 3px;
  }

  .cart-total {
    text-align : right;

    .cart-total-breakdown {
      overflow      : auto;
      float         : right;
      margin-bottom : 6px;

      > * {
        float : left;
      }

      dt {
        font-weight : 500;
        padding     : 0 6px;

        &:after {
          content : ': ';
        }
      }

      dd {
        font-weight : 400;

        &:after {
          content : ' / ';
        }

        &:last-child {
          &:after {
            content : '';
          }
        }
      }
    }

    .cart-total-total {
      clear         : right;
      float         : right;
      font-size     : $font-size-h4;
      color         : $color-accent;
      margin-bottom : 0;

      > * {
        float : left;
      }

      dt {
        padding : 0 6px;

        &:after {
          content : ': ';
        }
      }

      dt,
      dd {
        font-weight : 500;
      }
    }
  }
}

.cart-item {
  box-shadow : 0 6px 27px rgba($color-black, 0.075);

  .cart-item-info {
    @include make-sm-column(7);

    .cart-item-image {
      float  : left;
      margin : 15px 30px 15px 0;
    }

    p {
      margin-top : 28px;
    }

    h4 {
      margin-top    : 33px;
      margin-bottom : 0;
    }

    h6 {
      margin-top    : 3px;
      margin-bottom : 0;
      color         : $color-accent;

      a {
        color : $color-accent;
      }
    }
  }

  .cart-item-actions {
    @include make-sm-column(5);

    text-align : right;
    padding-top : 18px;

    em {
      font-style  : normal;
      font-weight : 500;
    }

    p {
      margin : 0 0 6px;
    }

    .cart-item-actions-count,
    .cart-item-actions-total {
      margin    : 6px;
      padding   : 7px 9px 6px 9px;
      display   : inline-block;
      font-size : 14px;
    }

    .cart-item-actions-count {
      font-weight : 400;
    }

    .cart-item-actions-total {
      font-weight : 400;
    }

    .btn-group {
      margin : 3px 6px 0 6px;

      a.btn {
        font-size : 15px;
        width     : 40px;
      }
    }
  }
}

.cart-coupon {
  clear : both;

  h3 {
    margin-bottom : 21px;
  }

  .cart-coupon-error,
  .cart-coupon-okay {
    background-color : $color-gray-bg-alt-3;
    border-radius    : $border-radius-sm;
    padding          : 12px 15px 1px 15px;
    margin           : 21px 0;
    font-weight      : 600;
    font-size        : 10px;
    text-align       : justify;
    font-family      : $font-family-condensed;

    em {
      font-style : normal;
    }
  }

  .cart-coupon-error {
    color            : $color-crit;
    background-color : rgba($color-crit, 0.05);
  }

  .cart-coupon-okay {
    color            : $color-okay;
    background-color : rgba($color-okay, 0.05);
  }

  form {
    text-align : center;

    label {
      font-size : 16px;
    }

    input[type=text] {
      width            : 100%;
      font-size        : 18px;
      font-family      : $font-family-mono-space;
      border-bottom    : 0;
      margin           : 0 0 29px 0;
      padding          : 9px;
      text-align       : center;
    }
  }
}

/* EOF */
