
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* cards */

.card {
  border           : $border-size-card $border-type-card $border-color-card;
  background-color : $bg-color-card;
  overflow         : hidden;
  position         : relative;
  margin-bottom    : ($padding-below-md*1.25);

  > .card-section-head,
  > .card-section-body,
  > .card-section-foot {
    position : relative;
    overflow : hidden;
    z-index  : $z-index-card-body;

    .abs-right {
      position : absolute;
      right    : 21px;
      top      : 27px;
    }
  }

  > .card-section-head,
  > .card-section-foot {
    background-color : $bg-color-section;
  }

  > .card-section-foot {

    &.has-accent {
      background-color : rgba($color-accent, 0.95) !important;

      > * {
        font-size      : $font-size-xxs;
        font-weight    : 600;
        display        : block;
        margin         : 5px 4px 3px 4px;
        text-align     : center;
        text-transform : uppercase;
      }

      > * > * {
        color                      : rgba($color-white, 0.9);
        line-height                : 27px;
        will-change                : auto;
        transition                 : color $trans-time-color;
        transition-timing-function : $trans-func-color;
      }

      &:hover > * > a {
        text-decoration : none;
      }
    }
  }

  &.is-raised {
    border     : $border-size-card $border-type-card $border-color-card;
    box-shadow : 0 8px 32px rgba($color-blue-darkest, 0.15);
  }

  &.is-linkable {
    cursor           : pointer;
    border           : $border-size-card $border-type-card $border-color-card;
    background-color : $bg-color-linkable;
    box-shadow       : 0 8px 32px rgba($color-blue-darkest, 0.15);

    &:hover {
      border           : $border-size-card $border-type-card $border-color-card-focus;
      background-color : $bg-color-linkable-focus;
      box-shadow       : 0 8px 32px rgba($color-blue-darkest, 0.75);

      > .card-section-head,
      > .card-section-foot {
        background-color : $bg-color-section-focus;
      }
    }

    &.is-accented {
      border : $border-size-card $border-type-card $border-color-card-accent;

      &:hover {
        border : $border-size-card $border-type-card $border-color-card-accent-focus;
      }
    }
  }

  &.is-animated {
    will-change : auto;
    transition  : border $trans-time-x-08, background-color $trans-time-x-06, box-shadow $trans-time-x-06;

    > .card-section-head,
    > .card-section-body,
    > .card-section-foot {
      will-change                : auto;
      transition                 : transform $trans-time-x-02, background-color $trans-time-x-03;
      transition-timing-function : $trans-func-transform;
    }
  }

  > .has-bg-light-gray {
    background-color : $bg-color-page-body-normal;
  }

  > .is-overlay {
    background-color : rgba($color-white, 0.8);
    position         : absolute;
    left             : 0;
    right            : 0;

    &.card-section-head {
      z-index : $z-index-card-head;
      top     : 0;
    }

    &.card-section-foot {
      z-index : $z-index-card-foot;
      bottom  : 0;
    }
  }

  > .is-overlay.is-toggleable {
    background-color : $bg-color-toggleable;

    &.card-section-head {
      background-color : $bg-color-toggleable-card-head;
      transform        : $trans-toggleable-card-head;
    }

    &.card-section-foot {
      background-color : $bg-color-toggleable-card-foot;
      transform        : $trans-toggleable-card-foot;
    }

    &.has-depth {
      &.card-section-head {
        box-shadow : 0 20px 40px rgba($color-blue-darkest, 0.0);
      }

      &.card-section-foot {
        box-shadow : 0 -2px 30px rgba($color-blue-darkest, 0.0);
      }
    }
  }

  &:hover > .is-overlay.is-toggleable {
    background-color : $bg-color-toggleable-focus;

    &.card-section-head,
    &.card-section-foot {
      transform : $trans-toggleable-card;
    }

    &.card-section-head {
      background-color : $bg-color-toggleable-card-head-focus;
    }

    &.card-section-foot {
      background-color : $bg-color-toggleable-card-foot-focus;
    }

    &.has-depth {
      &.card-section-head {
        box-shadow : 0 20px 40px rgba($color-blue-darkest, 0.1);
      }

      &.card-section-foot {
        box-shadow : 0 -2px 30px rgba($color-blue-darkest, 0.4);
      }
    }
  }
}

/* card listing */

.card-listing {
  @include make-row();
}

/* EOF */
