parameters:

    # Database connectivity information
    database_driver:   mysqli
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     srsp
    database_user:     srsp
    database_password: ~
    database_charset:  utf8mb4
    database_version:  5.6

    # The values for mail transport server
    mailer_transport:  smtp
    mailer_host:       smtp.sparkpostmail.com
    mailer_port:       2525
    mailer_user:       SMTP_Injection
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Should we cache some 3i1z?
    cache:             true

    # Facebook credentials
    facebook_page_id:       ~
    facebook_app_id:        ~
    facebook_app_secret:    ~
    facebook_graph_version: v2.6

    # Google API key
    google_api_key_static_maps: ~
    google_api_key_street_view: ~

    # Public file cache
    public_cache_dir: assets/cache

    stripe_publishable_key: ~
    stripe_secret_key: ~

    wkhtmltopdf_bin: /usr/bin/wkhtmltopdf

    location_lookup.max_mind.database: /var/lib/GeoIP/GeoLite2-City.mmdb
    location_lookup.ip2location.database: /var/lib/Ip2Location/Ip2Location-Lite-DB11.bin

    amazon.s3.target: "2006-03-01"
    amazon.s3.access:
    amazon.s3.secret:
    amazon.s3.bucket: src-silverpapillon-cache-001
    amazon.s3.region:
