parameters:

    # Database connectivity information
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     srsp
    database_user:     srsp
    database_password: ~

    # The values for mail transport server
    mailer_transport:  smtp
    mailer_host:       smtp.sparkpostmail.com
    mailer_port:       2525
    mailer_user:       SMTP_Injection
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Facebook credentials
    facebook_page_id:       ~
    facebook_app_id:        ~
    facebook_app_secret:    ~
    facebook_graph_version: v2.6

    # Google API key
    google_api_key_static_maps: ~
    google_api_key_street_view: ~

    # Public file cache
    public_cache_dir: assets/cache

    stripe_publishable_key: ~
    stripe_secret_key: ~

