
{#
 # feed type footer
 #}

<div class="card-section-foot is-overlay is-toggleable">

    <p class="feed-type">

        {% if is_video %}

            {{ video_text|default('View Video') }}

        {% else %}

            {{ photo_text|default('View album') }}

        {% endif %}

        {{ ion('android-arrow-forward') }}

    </p>

</div>
