
{#
 # simplified feed listing showing only media photos
 #}

{% for f in feed|slice(0, count) %}

    <div class="card-feed-photo">
        <div class="card is-linkable is-animated" data-href="{{ url('app_feed_view', {_fragment: f.getId}) }}">

            {% include 'AppBundle:fragment:feed-type-head.html.twig' with {
                'is_video' : f.isVideo
            } only %}

            <div class="card-section-body">
                {% if f.getAttachments|first.getMedia|first %}
                    {% set media = f.getAttachments|first.getMedia|first %}
                {% else %}
                    {% set media = f.getAttachments|first.getSubattachments|first.getMedia|first %}
                {% endif %}
                <img class="feed-attachment" src="{{ media.getLink() | url_to_file | imagine_filter('feed_photo_thumbs')  }}" alt="{{ f.getMessage }}" />
            </div>

            {% include 'AppBundle:fragment:feed-type-foot.html.twig' with {
                'is_video': f.isVideo
            } only %}

        </div>
    </div>

{% endfor %}
