
{#
 # product section header
 #}

<div class="card-section-head{{ class_cards|default(' is-overlay is-toggleable') }}">

    <div class="product-name">
        <h4>{{ product.getName }}</h4>
    </div>

    {% if price|default('show') == 'show' %}
        <div class="product-price">
            <p>${{ product.getPrice|number_format(2, '.', ',') }}</p>
        </div>
    {% endif %}

</div>
