
{#
 # default product card
 #}

<div class="card-product">
    <div class="card is-linkable is-animated" data-href="{{ path('app_product_view', {'productName': product.getName|slugify, 'product': product.getId}) }}">

        {% include 'AppBundle:fragment:product-section-head.html.twig' with {
            'product'     : product,
            'class_cards' : ' ',
            'class_price' : ' '
        } only %}

        {% include 'AppBundle:fragment:product-section-body.html.twig' with {
            'product' : product
        } only %}

        {% include 'AppBundle:fragment:product-section-foot.html.twig' with {
            'product' : product
        } only %}

    </div>
</div>