
{#
 # simplified product card
 #}

<div class="card-product-similar">
    <div class="card is-linkable is-animated" data-href="{{ path('app_product_view', {'productName': product.getName|slugify, 'product': product.getId}) }}">

        {% include 'AppBundle:fragment:product-section-body.html.twig' with {
          'product' : product
        } only %}

        {% include 'AppBundle:fragment:product-section-foot.html.twig' with {
            'product' : product
        } only %}

    </div>
</div>