
{#
 # product section header
 #}

<div class="card-section-head{{ class_cards|default(' is-overlay is-toggleable') }}">

    <div class="product-name">
        <h4><a href="{{ path('app_product_view', {'productName': product.getName|slugify, 'product': product.getId, 'category': product.getCategory.getSlug}) }}">{{ product.getName }}</a></h4>
    </div>

    {% if price|default('show') == 'show' %}
        <div class="product-price">
            <p>${{ product.getPrice|number_format(2, '.', ',') }}</p>
        </div>
    {% endif %}

</div>
