
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('logo-small.png', 'images') }}" height="58" alt="Website Logo" />
            </a>

        </div>

        {% include 'fragment/navigation-main.html.twig' with {
            'nav_class': 'navbar-nav',
            'nav_id_main': 'navbar',
            'disable_dropdowns': false,
            'nav_class_main': 'navbar-collapse collapse',
        } %}

    </div>

</nav>
