
<footer>

    <div class="container">
        <div class="footer-copy">

            <div class="footer-copy-copyright">{{ block_content('footer') }}</div>
            <div class="footer-copy-contact"><p>{{ config('address') }} | {{ config('phone') }}</p></div>

        </div>
    </div>

</footer>
