
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

.navbar-custom-menu {
  display : none;
}

.main-header > .navbar {
  background-color : rgba(33, 150, 243, .88);
}

@media (min-width: 768px) {
  .main-header .logo {
    line-height : 53px;
  }
}
.sidebar-menu > li > a, .sidebar-menu .treeview-menu > li > a {
  &:hover {
    text-decoration : none;
  }
}

.content-wrapper {
  background-color : #fff;
}

.admin-login-container {
  padding: 20px 60px 40px;
  margin: 0 10%;

  h1 {
    font-size: 45px;
    margin-bottom: 36px;
  }

  textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    box-shadow: inset 0 -1px 0 rgba(117, 117, 117, 0.3);
  }
}

.admin-login-container button[type=submit] {
  width : 33%;
}

@media (min-width: 1px) {
  body.list .table thead tr th {
    border-bottom: 2px solid #000;
  }

  body.list .table tbody tr:hover td {
    background: #ecf0f5;
  }

  body.list table thead th {
    background: rgb(51, 51, 51);
  }

  body.list table thead th a, body.list table thead th span {
    color: #ffffff;
  }

  body.list table {
    border: 1px solid #333;
  }

  body.list .table tbody {
    border-bottom: 1px double #333;
  }

  body.list table tbody td {
    border-top: 1px solid #b9bcbf;
  }

  body.list table thead th a:hover {
    background: #CCC;
    text-decoration: none;
  }

  body.list table thead th a:hover {
    background: #464646;
  }

  body.list table thead th.sorted:hover, body.list table thead th.sorted a:hover {
    background: rgba(33, 150, 243, .88);
  }

  body.list table tbody td.sorted {
    background: rgba(102, 122, 138, 0.05);
    border-color: #b9bcbf;
  }

  body.list .table thead tr th:first-child.sorted {
    border-left: 1px solid rgb(51, 51, 51);
    border-top: 1px solid rgb(51, 51, 51);
  }
}

body.show .form-control {
  background: rgba(78, 103, 123, 0.12);
}

.label {
  padding: 6.5px 12px 4px;
}

.toggle-group .toggle-on, .toggle-group .toggle-on.btn-xs, .toggle-group .toggle-on:hover, .toggle-group .toggle-on:active, .toggle-group .toggle-on:active:hover {
  padding: 5.5px 5px 4px 2px;
}

.toggle-group .toggle-off, .toggle-group .toggle-off.btn-xs, .toggle-group .toggle-off:hover, .toggle-group .toggle-off:active, .toggle-group .toggle-off:active:hover {
  padding: 5.5px 2px 4px 5px;
}

.field-group .box-header.with-border {
  background: rgba(85, 118, 144, 0.18);
  border-bottom-color: rgba(62, 83, 101, 0.55);
  padding: 11px 10px 9px;
}

.field-group .box {
  border: 1px solid rgba(62, 83, 101, 0.55);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* EOF */
