
{#
 # store hours listing
 #}

<dl class="info-hours">

    {% for hour in hours %}

        <dt {% if hour.isToday %}class="today"{% endif %}>

            {{ hour.getDow }}

            {% if hour.isToday %}
                <span class="today">(today)</span>
            {% endif %}

        </dt>

        <dd {% if hour.isToday %}class="today"{% endif %}>

            {% if hour.isClosed %}

                Closed

            {% else %}

                {{ hour.getTimeOpen.format('h:ia') }} - {{ hour.getTimeClose.format('h:ia') }}

            {% endif %}

        </dd>

    {% endfor %}

</dl>