
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* global body */

body {
  background : $bg-color-page-body-normal url($bg-pattern-large-squares-diagonal-white) repeat top center;
}

/* promo banner */

.promo {
  background-color : $bg-color-page-body-accent;
  padding-top      : $padding-above;
  padding-bottom   : $padding-below;

  a.btn {
    margin : $padding-above-xxs 0 0 0;
  }

  p {
    color       : $color-primary;
    font-size   : $font-size-xxl;
    font-weight : 300;
    padding     : $padding-above-xs 0 $padding-below-xxs;
    margin      : 0;
  }
}

/* tool tips */

.tooltip {
  text-transform : uppercase;
  font-size      : 10px;
}

/* javascript light box */

.jslghtbx {
  z-index : 9999;
}

/* badges */

.badge {
  padding : 4px 6px 4px;
}

/* EOF */
