
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

/* index page */

.index-about {
  @include make-row();

  .info-phone-and-address {
    font-size   : 21px;
    font-weight : 200;
    color       : $color-black;
  }

  .index-about-section {
    @include make-sm-column(4);

    .btn {
      margin-top    : 30px;
      margin-bottom : 20px;
    }

    .info-hours {
      margin-bottom : $font-margin-base*3;

      dt {
        font-weight : 300;
        font-size   : 14px;
        float       : left;
        width       : 130px;
        opacity     : 0.6;

        &.today {
          color       : rgba($color-black, 0.9);
          font-style  : normal;
          font-weight : 400;
        }
      }

      dd {
        color       : rgba($color-black, 0.8);
        font-weight : 200;
        font-size   : 14px;

        &.today {
          font-style  : normal;
          font-weight : 400;
        }
      }
    }
  }
}

/* EOF */
