{% extends 'base.html.twig' %}

{% block bread %}
    {{ parent() }}
    <li><a href="{{ url('app_cart_view') }}">Your Cart</a></li>
    <li>Checkout</li>
{% endblock %}

{% block body %}

    <div class="container container-sr">

        {{ form_start(f) }}
        {{ form_end(f) }}

    </div>

{% endblock %}
