
/*
 * This file is part of the `src-run/src-app-silver-papillon` project
 *
 * (c) Rob Frawley 2nd <rmf@src.run>
 *
 * or the full copyright and license information, please view the LICENSE.md
 * file that was distributed with this source code.
*/

body {
  background-color:rgba(242, 241, 243, 0.5);
}

.feed-post-wrapper {
  .feed-post {
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 36px;
    cursor: pointer;
    border-radius: 3px;
    transition: border-color 0.4s;

    &:hover {
      border-color: #db0075;

      .feed-post-message {
        background-color: #eaeaf1;
      }

      .feed-post-attachments {
        background-color: #eaeaf1;
      }

      .feed-post-attachments .feed-post-attachments-overlay {
        transform: translateY(0);
      }
    }

    .feed-post-info {
      pointer-events: none;
      padding: 12px 21px 14px 21px;
      text-align: right;
      background-color: #f3f3f7;

      .feed-post-info-type {
        display: inline-block;
        float: left;
        font-size: 15px;
        color: rgb(33, 148, 239);
        margin-right: 15px;
      }

      .feed-post-info-date {
        display: inline-block;
        float: left;

        time {
          display: block;
          font-size: 13px;
          color: #2194ef;
          text-transform: uppercase;
          font-weight: 300;
          padding-top: 3px;
        }
      }

      .feed-post-info-reactions {
        display: inline-block;

        p {
          display: inline-block;
          font-size: 10px;
          line-height: 10px;
          margin: 0;
          background-color: #fff;
          padding: 4px 5px 3px 5px;
          margin-left: 12px;
          border-radius: 3px;
          font-weight: 300;
          color: #bbb;

          &.em {
            color: rgba(218,0,115,0.5);
            font-weight: 400;
          }
        }
      }
    }

    .feed-post-message {
      pointer-events: none;
      padding: 21px 21px 9px 21px;
      transition: background-color 0.4s;

      p {
        color: #505050;
        margin: 0;
        font-weight: 300;
        font-size: 16px;
      }
    }

    .feed-post-attachments {
      transition: background-color 0.4s;
      pointer-events: none;
      padding: 12px 0 0 0;
      overflow: hidden;
      position: relative;

      .feed-post-attachment-media {
        padding: 0 18px 18px 18px;
        z-index:9;
        transition: all 0.4s;
      }


      .feed-post-attachments-overlay {
        transform: translateY(90px);
        transition: transform 0.5s;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        padding: 0;
        line-height: 56px;
        font-size: 14px;
        background-color: #d9006e;

        p {
          display: inline-block;
          padding: 0;
          font-size: 12px;
          font-weight: 300;
          line-height: 12px;
          color: #fff;
          text-transform: uppercase;

          i {
            display: block;
            font-size: 14px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

.feed-post-wrapper-index {
  .feed-post-index {
    background-color: #fff;
    border: 1px solid #fff;
    margin-bottom: 36px;
    cursor: pointer;
    transition: border-color 0.4s;

    &:hover {
      border-color: #db0075;

      .feed-post-attachments {
        background-color: #eaeaf1;
      }

      .feed-post-attachments .feed-post-attachments-overlay {
        transform: translateY(0);
      }
    }

    .feed-post-attachments {
      transition: background-color 0.4s;
      pointer-events: none;
      overflow: hidden;
      position: relative;

      .feed-post-attachment-media {
        float:left;
        z-index:9;
        transition: all 0.4s;

        img {
          width: 100%;
        }
      }

      .feed-post-attachments-overlay {
        transform: translateY(90px);
        transition: transform 0.5s;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        padding: 0;
        line-height: 56px;
        font-size: 14px;
        background-color: #d9006e;

        p {
          display: inline-block;
          padding: 0;
          font-size: 12px;
          font-weight: 300;
          line-height: 12px;
          color: #fff;
          text-transform: uppercase;

          i {
            display: block;
            font-size: 14px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

.promo {
  background-color:#fff;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-bottom: 45px;

  h2 {
    font-weight: 100;
    font-size: 28px;
    padding: 3px 0 0 0;
    margin: 0;
    color: #2194ef;
  }
}

.bread {
  background-color:#fff;
  padding-top: 42px;
  padding-bottom: 42px;
  margin-bottom: 45px;

  ul {
    margin: 0;

    li {
      float: left;
      padding-right: 6px;
      padding-top: 6px;
      font-size: 27px;
      font-weight: 300;
      color: #d80874;

      &:after {
        color: rgba(216, 8, 116, 0.4);
        font-family: FontAwesome;
        content: '\f105';
        padding-left:6px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }

      a {
        font-weight: 100;
        color: rgba(216, 8, 116, 0.65);

        &:hover {
          text-decoration: none;
          color: rgba(216, 8, 116, 1);
          border-bottom: 1px solid rgba(216, 8, 116, 0.4);
        }
      }
    }
  }

  h2 {
    font-weight: 300;
    font-size: 28px;
    padding: 3px 0 0 0;
    margin: 0;
    color: #d80874;
  }
}

.products-index {
  h2 {
    margin: 12px 0 36px 0;
    font-size: 28px;
    font-weight: 300;
    color: #d80874;
  }
}

.product {
  position: relative;
  overflow: hidden;
  border:1px solid #fff;
  transition: border-color 0.5s;
  cursor: pointer;

  &:hover {
    border-color: #d90071;

    .product-info {
      transform: translateY(0);
    }
  }

  img {
    padding-bottom: 60px;
    pointer-events: none;
  }

  .product-info {
    pointer-events: none;
    position: absolute;
    bottom: -10px;
    background-color: rgba(255,255,255,0.88);
    left: 0;
    right: 0;
    transform: translateY(48px);
    transition: all 0.4s;

    .product-price {
      float: right;
      font-size: 18px;
      font-weight: 200;
      padding: 23px 16px 0 0;

      p {
        margin-bottom:0;
        font-size: 12px;
        color: rgba(217, 0, 112, 0.5);
        font-weight: 500;
      }
    }

    .product-name {
      padding: 12px 6px 0 16px;

      h4 {
        font-size: 18px;
        font-weight: 300;
        color: #0c7cd5;
      }
    }

    .product-add {
      padding: 10px 0 8px 0;
      font-size: 12px;

      a {
        display: block;
        background-color: #d90071;
        text-align: center;
        padding: 12px 9px;

        span {
          color: #fff;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }
  }
}

.container-wrap {
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 45px;
}

.feed-index {
  .btn-primary {
    margin-bottom: 36px;
  }

  h2 {
    margin: 60px 0 36px 0;
    font-size: 28px;
    font-weight: 300;
    color: #d80874;
  }
}

.category {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-bottom: 60px;
  border:1px solid #fff;
  transition: border-color 0.5s;

  &:hover {
    border-color: #d90071;
  }

  .category-products {
    pointer-events: none;
    padding-bottom: 62px;

    img {
      width: 20%;
      pointer-events: none;
      float: left;
    }
  }

  .category-name {
    pointer-events: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    font-size: 18px;
    right: 0;
    transition: background-color .4s;

    a {
      font-size: 18px;
      font-weight: 300;
      color: #0c7cd5;
      padding: 15px 0 12px 18px;
      display: block;
      transition: color .5s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &:hover {
    .category-name {
      a {
        color: #fff;
      }
      background-color: rgb(218, 0, 117);
    }
  }
}

.card {
  padding: 0;
  background-color: #fff;
  position: relative;
  margin-bottom: 32px;

  img {
    width: 100%;
  }

  .link-header {
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    left: 0;
    right: 0;
    font-size: 21px;
    padding: 10px;
    color: #2194ef;
    font-weight: 300;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid;
    }
  }

  .link-header-right {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 21px;
    font-weight: 100;
    padding: 10px;
    color: rgba(211, 26, 124, 1);
  }
}

#carousel-index {
  .carousel-inner {
    .item {
      max-height: 360px;
      img {
        width: 100%;
      }
    }
  }
  .carousel-indicators {
    bottom: 10px;

    li {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0;
      height: 12px;
      width: 12px;

      &.active {
        background-color: #fff;
        margin: 1px;
        height: 12px;
        width: 12px;
      }
    }
  }
}

.index-info {
  .index-info-hours {
    margin-bottom: 36px;

    li {
      font-weight: 300;

      em {
        font-style: normal;
        font-weight: 400;
      }

      &.today {
        font-weight: 500;

        span.today {
          font-style: italic;
          font-weight: 400;
        }

        em {
          font-weight: 500;
        }
      }
    }
  }
}

.primary-hr {
  margin: 18px 0 36px 0;
  font-size: 28px;
  font-weight: 300;
  color: #d80874;
}

h2.primary-hr-i {
  margin: 18px 0 36px 0;
  font-size: 28px;
  font-weight: 100;
  color: #d80874;

  em {
    font-style: normal;
    font-weight: 300;
  }
}

.navbar {

  &.navbar-inverse {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.88);
    background-image: url('/bundles/app/images/bg-large-opacity02.png');
    background-size: cover;
  }

  #navbar {
    .navbar-nav {
      @media (min-width: $screen-sm-min) {
        float: right;
      }
    }
  }
}

.navbar-brand {
  padding: 0;
  img {
    height: 63px;
    padding-top: 2px;
    opacity: 1;
    transition: opacity 0.5s;
    will-change: opacify;
    padding-left: 10px;
  }

  &:hover img {
    opacity:0.85;
  }
}

footer {
  background-color: rgba(255,255,255,0.5);
  padding: 27px 0 10px 0;
}

#main-container {
  padding-top: 64px;
}

// Navbar =====================================================================

.navbar {
  border: none;
  @include box-shadow(0 1px 2px rgba(0,0,0,.3));

  &-brand {
    font-size: 24px;
  }

  &-inverse {
    .navbar-form {

      input[type=text],
      input[type=password] {
        color: #fff;
        @include box-shadow(inset 0 -1px 0 $navbar-inverse-link-color);
        @include placeholder($navbar-inverse-link-color);

        &:focus {
          @include box-shadow(inset 0 -2px 0 #fff);
        }
      }
    }
  }
}

// Buttons ====================================================================

@mixin btn($class,$bg){
  .btn-#{$class} {
    background-size: 200% 200%;
    background-position: 50%;

    &:focus {
      background-color: $bg;
    }

    &:hover,
    &:active:hover {
      background-color: darken($bg, 6%);
    }

    &:active {
      background-color: darken($bg, 12%);
      @include gradient-radial(darken($bg, 12%) 10%, $bg 11%);
      background-size: 1000% 1000%;
      @include box-shadow(0px 2px 3px rgba(0,0,0,.25));
    }
  }
}

@include btn(default,$btn-default-bg);
@include btn(primary,$btn-primary-bg);
@include btn(success,$btn-success-bg);
@include btn(info,$btn-info-bg);
@include btn(warning,$btn-warning-bg);
@include btn(danger,$btn-danger-bg);
@include btn(link,#fff);

.btn {
  text-transform: uppercase;
  border: none;
  @include box-shadow(0 1px 2px rgba(0,0,0,.1));
  @include transition(all 0.4s);

  &-link {
    border-radius: $btn-border-radius-base;
    @include box-shadow(none);
    color: $btn-default-color;

    &:hover,
    &:focus {
      @include box-shadow(none);
      color: $btn-default-color;
      text-decoration: none;
    }
  }

  &-default {

    &.disabled {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.4);
      opacity: 1;
    }
  }
}

.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: 0;
  }

  &-vertical {
    > .btn + .btn,
    > .btn + .btn-group,
    > .btn-group + .btn,
    > .btn-group + .btn-group {
      margin-top: 0;
    }
  }
}

// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

p {
  margin: 0 0 1em;
}

input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

a {
  @include transition(all 0.2s);
}

// Tables =====================================================================

.table-hover {
  > tbody > tr,
  > tbody > tr > th,
  > tbody > tr > td {
    @include transition(all 0.2s);
  }
}

// Forms ======================================================================

label {
  font-weight: normal;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  @include box-shadow(inset 0 -1px 0 #ddd);
  font-size: 16px;

  &:focus {
    @include box-shadow(inset 0 -2px 0 $brand-primary);
  }

  &[disabled],
  &[readonly] {
    @include box-shadow(none);
    border-bottom: 1px dotted #ddd;
  }

  &.input {
    &-sm {
      font-size: $font-size-small;
    }

    &-lg {
      font-size: $font-size-large;
    }
  }
}

select,
select.form-control {
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEVmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmaP/QSjAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  @include box-shadow(inset 0 -1px 0 #ddd);
  font-size: 16px;
  line-height: 1.5;

  &::-ms-expand {
    display: none;
  }

  &.input {
    &-sm {
      font-size: $font-size-small;
    }

    &-lg {
      font-size: $font-size-large;
    }
  }

  &:focus {
    @include box-shadow(inset 0 -2px 0 $brand-primary);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMVEUhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISF8S9ewAAAADHRSTlMAAgMJC0uWpKa6wMxMdjkoAAAANUlEQVR4AeXJyQEAERAAsNl7Hf3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
  }

  &[multiple] {
    background: none;
  }
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
  label {
    padding-left: 25px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    margin-left: -25px;
  }
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 6px;
  margin-right: 4px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:before,
  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    @include transition(240ms);
  }

  &:before {
    position: absolute;
    left: 0;
    top: -3px;
    background-color: $brand-primary;
    @include scale(0);
  }

  &:after {
    position: relative;
    top: -3px;
    border: 2px solid $gray;
  }

  &:checked:before {
    @include scale(0.5);
  }

  &:disabled:checked:before {
    background-color: $gray-light;
  }

  &:checked:after {
    border-color: $brand-primary;
  }

  &:disabled:after,
  &:disabled:checked:after {
    border-color: $gray-light;
  }
}

input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -4px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus:after {
    border-color: $brand-primary;
  }

  &:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid $gray;
    border-radius: 2px;
    @include transition(240ms);
  }

  &:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    @include rotate(45deg);
  }

  &:checked:after {
    background-color: $brand-primary;
    border-color: $brand-primary;
  }

  &:disabled:after {
    border-color: $gray-light;
  }

  &:disabled:checked:after {
    background-color: $gray-light;
    border-color: transparent;
  }
}

.has-warning {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-warning);
  }
}

.has-error {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-danger);
  }
}

.has-success {
  input:not([type=checkbox]),
  .form-control,
  input.form-control[readonly],
  input[type=text][readonly],
  [type=text].form-control[readonly],
  input:not([type=checkbox]):focus,
  .form-control:focus {
    border-bottom: none;
    @include box-shadow(inset 0 -2px 0 $brand-success);
  }
}

// Remove the Bootstrap feedback styles for input addons
.input-group-addon {
  .has-warning &, .has-error &, .has-success & {
    color: $input-color;
    border-color: $input-group-addon-border-color;
    background-color: $input-group-addon-bg;
  }
}

.form-group-lg {
  select,
  select.form-control {
    line-height: 1.5;
  }
}

// Navs =======================================================================

.nav-tabs {
  > li > a,
  > li > a:focus {
    margin-right: 0;
    background-color: transparent;
    border: none;
    color: $navbar-default-link-color;
    @include box-shadow(inset 0 -1px 0 #ddd);
    @include transition(all 0.2s);

    &:hover {
      background-color: transparent;
      @include box-shadow(inset 0 -2px 0 $brand-primary);
      color: $brand-primary;
    }
  }

  & > li.active > a,
  & > li.active > a:focus {
    border: none;
    @include box-shadow(inset 0 -2px 0 $brand-primary);
    color: $brand-primary;

    &:hover {
      border: none;
      color: $brand-primary;
    }
  }

  & > li.disabled > a {
    @include box-shadow(inset 0 -1px 0 #ddd);
  }

  &.nav-justified {

    & > li > a,
    & > li > a:hover,
    & > li > a:focus,
    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      border: none;
    }
  }

  .dropdown-menu {
    margin-top: 0;
  }
}

.dropdown-menu {
  margin-top: 0;
  border: none;
  @include box-shadow(0 1px 12px rgba(0,0,0,.2));
}

// Indicators =================================================================

.alert {
  border: none;
  color: #fff;

  &-success {
    background-color: $brand-success;
  }

  &-info {
    background-color: $brand-info;
  }

  &-warning {
    background-color: $brand-warning;
  }

  &-danger {
    background-color: $brand-danger;
  }

  a:not(.close):not(.btn),
  .alert-link {
    color: #fff;
    font-weight: bold;
  }

  .close {
    color: #fff;
  }
}

.badge {
  padding: 4px 6px 4px;
}

.progress {
  position: relative;
  z-index: 1;
  height: 6px;
  border-radius: 0;

  @include box-shadow(none);

  &-bar {
    @include box-shadow(none);

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &:last-child {
      &:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: lighten($progress-bar-bg, 35%);
      }
    }

    &-success:last-child.progress-bar:before {
      background-color: lighten($brand-success, 35%);
    }

    &-info:last-child.progress-bar:before {
      background-color: lighten($brand-info, 45%);
    }
    &-warning:last-child.progress-bar:before {
      background-color: lighten($brand-warning, 35%);
    }

    &-danger:last-child.progress-bar:before {
      background-color: lighten($brand-danger, 25%);
    }
  }
}

// Progress bars ==============================================================

// Containers =================================================================

.close {
  font-size: 34px;
  font-weight: 300;
  line-height: 24px;
  opacity: 0.6;
  @include transition(all 0.2s);

  &:hover {
    opacity: 1;
  }
}

.list-group {

  &-item {
    padding: 15px;
  }

  &-item-text {
    color: $gray-light;
  }
}

.well {
  border-radius: 0;
  @include box-shadow(none);
}

.panel {
  border-width: 1px;
  border-radius: 2px;
  @include box-shadow(0 2px 8px rgba(0,0,0,.2));

  &-heading {
    border-bottom: none;
  }

  &-footer {
    border-top: none;
  }
}

.popover {
  border: none;
  @include box-shadow(0 1px 4px rgba(0,0,0,.3));
}

.carousel {
  &-caption {
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
}
